<mat-toolbar color="primary" class="mat-elevation-z6">
    <span>
      <mat-icon>local_drink</mat-icon>
      OctoberBeer
    </span>
    <div class="spacer-left"></div>
      <div class="spacer-central"></div>
      <div class="nav-left">
        <button
          class="nav-connection"
          mat-raised-button
          routerLinkActive="active-link"
          routerLink="/beer-list"
        >CATALOGUE</button>
        <button
          class="nav-connection"
          mat-raised-button
          routerLinkActive="active-link"
          routerLink="/beer-form"
        >AJOUTER UNE BIERE</button>
      </div>
</mat-toolbar>
  
