<mat-card class="mat-elevation-z10">
    <mat-card-title style="text-align: center">
        <img id="logo" src="./assets/logo-beer.png"/>
        <h1>CATALOGUE DE BIERE</h1>
    </mat-card-title>
    <table *ngIf="beers!.length != 0">
      <thead>
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Marque</th>
        <th>Type</th>
        <th>Prix</th>
        <th class="actions">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let beer of beers; let i = index">
        <td>{{i+1}}</td>
        <td><b>{{beer.id}}</b></td>
        <td><b>{{beer.marque}}</b></td>
        <td>{{beer.type}}</td>
        <td>{{beer.prix}}</td>
        <td>
              <span>
                <mat-icon color="primary" routerLink="/beer-form/{{beer.id}}">edit</mat-icon>
              </span>
          <span>
                <mat-icon routerLink="/beer-detail/{{beer.id}}">search</mat-icon>
              </span>
          <span>
                <mat-icon color="warn" (click)="onDeleteBeer(beer)">delete</mat-icon>
              </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="message" *ngIf="beers.length == 0">
      <h4>Vous n'avez enregistré aucune bière</h4>
      <button mat-raised-button color="primary" (click)="onCreateNewBeer()">
        Ajouter une nouvelle bière
      </button>
    </div>
    
</mat-card>
  